* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  font-family: Circe, sans-serif;
  font-weight: 200;
  color: #001e28;
  max-width: 1920px;
  margin: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: none;
}

/* Main blocks */
.container {
  max-width: 1170px;
  margin: auto;
  height: 100%;
}

.tel {
  font-family: Roboto Slab;
  font-weight: 700;
  font-size: 17px;
}

.main-button {
  width: 100%;
  height: 45px;
  background-color: #ffaf02;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.main-button:hover {
  background-color: #ffcc02;
}
.main-button:active {
  background-color: #ff9a02;
}
.main-button:focus {
  outline: none;
}

/* titles styles */
.section-title {
  font-family: Roboto Slab, sans-serif;
  font-size: 30px;
  text-align: center;
}
.section-secondary-title {
  font-size: 22px;
  text-align: center;
}

.info-block > * {
  margin: 0;
}

/* HEADER section */
/* HEADER | logo */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 85px;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 11;
}
.header__logo {
  height: 80px;
}
.logo__title {
  font-size: 15px;
  font-weight: 400;
  margin: 25px 0;
}

/* HEADER | header__tels */
.header__tels > * {
  display: block;
  text-align: right;
}
.header__tels {
  padding: 15px 0;
}
.header__question {
  font-size: 13px;
}

/* HEADER | header__button */
.header__button {
  margin: 20px 0;
}

/* section Intro */
.intro {
  height: 685px;
  padding-top: 110px;
  margin-top: 85px;
  text-align-last: left;
  background: url(../images/intro/intro-bg.jpg) no-repeat center;
}
.intro__main-title {
  font-family: Roboto Slab, sans-serif;
  font-size: 57px;
  margin-top: 0;
}
.intro__info-block {
  margin-top: 85px;
}
.info-block {
  padding-left: 80px;
  min-height: 50px;
}
.info-block_1 {
  background: url(../images/intro/shield.png) no-repeat top left;
}
.info-block_2 {
  background: url(../images/intro/wallet.png) no-repeat top left;
}
.info-block_3 {
  background: url(../images/intro/girl.png) no-repeat top left;
}
.intro__info-block .info-block {
  margin-top: 30px;
}
.intro__info-block .info-block__title {
  margin-bottom: 10px;
}

/*consultation section*/
.consultation {
  height: 580px;
  padding-top: 75px;
  background: url(../images/consultation/consultation-bg.jpg) no-repeat center
    left 35%;
}
.form-block {
  width: 100%;
  height: 370px;
  border: 10px solid #d8f0f0;
  text-align: center;
  padding: 25px 150px;
}
.consultation__form {
  padding-top: 100px;
  background: url(../images/consultation/line.png) no-repeat center top 40px;
  background-size: 75%;
  border: none;
}
.form-block__subtitle {
  font-size: 16px;
}
.form-block__input-text,
.form-block__input-tel {
  width: 100%;
  height: 45px;
  padding-left: 60px;
  color: #667;
  font-size: 15px;
  border: 1px solid #d1d1d1;
  border-radius: 30px;
  background-color: #ffffff;
  background-position: center left 30px;
  background-repeat: no-repeat;
}
.form-block__input-text {
  background-image: url(../images/form-block/avatar-icon.png);
}
.form-block__input-tel {
  background-image: url(../images/form-block/telephone-icon.png);
}
.form-block__subtitle {
  display: inline-block;
  margin-bottom: 40px;
}
.form-section__tels {
  margin-top: 50px;
}
.form-section__tel {
  position: relative;
  margin-left: 75px;
}
.form-section__tel:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 115%;
  bottom: -5px;
  background: url(../images/form-block/mobile-phone.png) no-repeat;
}

/* tours section*/
.tours {
  height: 885px;
  padding: 85px 0 100px;
}
.tours__slide-wrap {
  margin-top: 50px;
  width: 100%;
  overflow: hidden;
}
.tours__button {
  width: 100%;
  height: 82px;
  padding: 0 23%;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  background-color: #d8f0f0;
  border: none;
  cursor: pointer;
  border-radius: 20px 20px 0 0;
}
.tours__button:hover {
  background-color: #c8e0dc;
}
.tours__button:focus {
  background-color: #ffaf02;
  outline: none;
  color: #fff;
}
.tours__button_f:focus::before {
  animation: anim-right 0.5s ease forwards;
}
.tours__button_s:focus::before {
  animation: anim-both 0.5s ease forwards;
}
.tours__button_s:focus::after {
  animation: anim-both 0.5s ease forwards;
}
.tours__button_t:focus::after {
  animation: anim-left 0.5s ease forwards;
}
.tours__button_f::before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  width: 1170px;
  height: 5px;
  background-color: #ffaf02;
  z-index: 10;
}
.tours__button_s::before {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 0;
  left: 50%;
  transform: translateX(-100%);
  width: 0;
  height: 5px;
  background-color: #ffaf02;
  z-index: 10;
}
.tours__button_s::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 50%;
  transform: translateX(100%);
  width: 0;
  height: 5px;
  background-color: #ffaf02;
  z-index: 10;
}
.tours__button_t::after {
  content: "";
  position: absolute;
  display: inline-block;
  bottom: 0;
  right: 0;
  transform: translateX(100%);
  width: 1170px;
  height: 5px;
  background-color: #ffaf02;
  z-index: 10;
}
@keyframes anim-right {
  form {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes anim-both {
  form {
    width: 0;
  }
  to {
    width: 600px;
  }
}
@keyframes anim-left {
  form {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
.tours__item {
  width: 100%;
  height: 415px;
  padding: 15px;
  margin-top: 40px;
  border: 2px solid #d8f0f0;
  text-align: center;
  cursor: pointer;
}
.tours__item-photo {
  width: 100%;
  height: 245px;
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
}
.tours__item-info {
  position: absolute;
  width: 100%;
  height: 75px;
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(0, 30, 40, 1),
    rgba(255, 255, 255, 0)
  );
}
.tours__item-location,
.tours__item-user {
  display: inline-block;
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 35px;
  padding-left: 35px;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 35px;
}
.tours__item-location {
  background-image: url(../images/tours/location.png);
  background-position: center left 10px;
  left: 0;
}
.tours__item-user {
  background-image: url(../images/tours/user.png);
  background-position: center left 40%;
  right: 15px;
  text-align: right;
}
.tours__item-title {
  font-size: 18px;
  margin: 30px 0 15px;
}
.tours__item-subtitle {
  font-size: 14px;
  font-weight: 400;
}
.tours__item-link {
  display: inline-block;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
}
.tours__item-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5px;
  background-color: #ffaf02;
}
.tours__item:hover {
  border-color: #ffaf02;
}
.tours__item:hover > .tours__item-link::before {
  height: 25px;
  border-radius: 3px 3px 0 0;
  color: #ffffff;
  content: "Подробнее";
}
.tours__item:active {
  border-color: #ff9a02;
}
.tours__item:active > .tours__item-link::before {
  height: 25px;
  border-radius: 3px 3px 0 0;
  color: #ffffff;
  content: "Подробнее";
  background-color: #ff9a02;
}

/* special-offer section */
.special-offer {
  height: 1180px;
  background: linear-gradient(120deg, #d8f0f0, #fdfde0);
  padding-top: 100px;
}
.section-secondary-title span {
  color: #ffffff;
  background-color: #ffaf02;
  padding: 5px;
}
.special-offer .section-secondary-title {
  line-height: 2;
}
.special-offer__slider {
  margin: 50px 0 70px;
}
.special-offer__info-block {
  font-size: 20px;
  font-weight: 400;
}
.special-offer__info-block .info-block {
  padding-left: 100px;
  padding-top: 10px;
  height: 70px;
}
.special-offer__info-block .info-block_1 {
  background-image: url(../images/special-offer/sea-icon.png);
}
.special-offer__info-block .info-block_2 {
  background-image: url(../images/special-offer/bed-icon.png);
}
.special-offer__info-block .info-block_3 {
  background-image: url(../images/special-offer/balcony-icon.png);
}
.special-offer-form {
  margin-top: 70px;
  background: #ffffff url(../images/special-offer/women.jpg) no-repeat center
    right -30px;
}

@media (max-width: 1199px) {
  .container {
    max-width: 1100px;
  }
  .tours__item-user {
    background-position: center left 20%;
  }
}
@media (max-width: 1099px) {
  .container {
    max-width: 980px;
  }
  .form-block__input-text,
  .form-block__input-tel {
    padding-left: 30px;
    background-position: top 13px left 7px;
  }
  .form-section__tels {
    margin-top: 20px;
  }
  .form-section__tel {
    margin-left: 50px;
  }
  .form-section__tel::before {
    right: 110%;
  }
}
